<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  <div id="login">
  <form id="login_form" action="">
    <div class="field_container">
      <input type="text" placeholder="Username">
    </div>

    <div class="field_container">
      <input type="Password" placeholder="Password">
      <button id="sign_in_button">
        <span class="button_text">Sign In</span>
      </button>
    </div>

    <div id="sign_in_options" class="field_container">
        <div id="remember_me_container">
          <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
          <label class="login_link" for="user_remember_me" id="remember_me_label">stay signed in</label>
        </div>
        <div class="clearfix"></div>
      </div>
</form>

  <div id="dont_have_an_account">
    <h2>
      Need to <a href="#" class="login_link">sign up</a> for an account
      or <a href="#" id="forgot_password_link" class="login_link">reset</a> your password?
    </h2>
  </div>
</div>
    <main role="main" class="container">
      {% block main %}{% endblock %}
    </main>
  </body>
</html>